* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;

  /* font-weight:  */
}

#menu {
  list-style-type: none;
}

#menu li {
  display: inline-block;
}

#menu li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
}

#menu li a.active {
  color: #ec008c;
}

header {
  background-color: #31006e;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav {
  float: right;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#intro {
  background-color: #31006e;
  background-image: url(images/banner-pattern.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 150%;
  color: white;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

#white-box {
  background: white;
  width: 50%;
  padding: 20px;
  margin-top: 30px;
}

#white-box small {
  color: grey;
}

#white-box h1 {
  color: #31006e;
  margin-top: 20px;
  margin-bottom: 20px;
}

#white-box p {
  color: #ec008c;
}

.w50 {
  width: 50%;
}

/* section h2 {
  color: #2e3192;
} */

/* h2 {
  color: #2e3192;
} */

#whoweare h2 {
  color: #2e3192;
}

#whoweare {
  background-image: url(images/building.png);
  background-repeat: no-repeat;
  background-position-x: calc(100% - 200px);
  background-position-y: bottom;
  background-size: auto 80%;
}

#workwithus {
  text-align: center;
  background-color: #6baeee;
  color: white;
}

section p {
  margin-top: 15px;
}

.btn {
  border: 1px solid #31006e;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  color: #31006e;
  border-radius: 3px;
}

#workwithus .btn {
  border-color: white;
  color: white;
}

/* target:hover */

.btn:hover {
  background: #ec008c;
  color: white;
}

#parallax {
  background-image: url(images/parallax-home.jpg);
  height: 400px;
  background-position: center;
  background-attachment: fixed;
}

#job {
  text-align: center;
}

#vacancy-list {
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  list-style-type: none;
}

#vacancy-list li {
  border-bottom: 1px solid #ebebeb;
}

#vacancy-list li a {
  text-decoration: none;
  color: #ec008c;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}

#vacancy-list li a:hover {
  color: #31006e;
}

#vacancy-list li a i {
  float: right;
  color: #31006e;
}

/* footer{
  background: 
} */
